.cart {
    display: flex;
    flex-wrap: wrap;
    margin: 1rem;
    align-items: flex-start;
    margin-top: 3rem;
}
.cart-list {
    flex:3 1 60rem;
}
.cart-action {
    flex: 1 1 20rem;
    background-color: #f8f8f8;
    border: .1rem #808080 solid;
    border-radius: .5rem;
    padding: 1rem;
    margin-top: 2rem;
}
.list-container {
    padding: 0;
    list-style-type: none;
    padding: 1rem;
}
.list-container li :first-child{
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    margin-bottom: 1rem;
    border-bottom: 1px #808080 solid;
}
.list-container li img{
    max-width: 10rem;
    max-height: 10rem;
}
.cart-image{
    flex: 1 1;
    width: 50%;
    max-width: 760px;
}
.cart-name {
    flex:8 1;
}
.cart-price {
    flex: 1 1;
    font-size: 2rem;
    text-align: right;
}
button{
    font-size: 1.6rem;
}