.nav {
    grid-area: header;
    background-color: blueviolet;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* padding: 1rem; */
    margin-bottom: 2rem;
  }
  .brand a {
    color: white;
  }
  .header-links a {
    padding: 1rem;
    color: white;
  }
  a:hover {
    color: yellow;
  }