.nav {
    grid-area: header;
    background-color: #cceabb;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* padding: 1rem; */
    margin-bottom: 3rem;
  }
  .brand {
    width: 35rem;
    font-size: 28px;

  }
  .brand a {
    color: white;
  }
  .header-links a {
    padding: 1rem;
    color: white;
  }
  a:hover {
    color: #fdcb9e;
  }